<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Service</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur le Service d'Authentification</h1>
        <p>Connectez-vous ou créez un compte pour accéder à nos services.</p>
        <div class="buttons">
            <a href="/register" class="btn">Inscription</a>
            <a href="/login" class="btn btn-secondary">Connexion</a>
        </div>
    </div>
</body>
</html>
